h1{

    font-family: "Comic Sans MS", cursive, sans-serif
    color: #FCC4E7
    }
    
p{

    font-family: "Comic Sans MS", cursive, sans-serif
    color: #FFFFF0
    }
    
body{

    background-image: url("http://moziru.com/images/grumpy-cat-clipart-tumblr-backgrounds-16.jpg")
    
    }
    
