h1{

  font-family: "Arial", Helvetica, sans-serif;
  color:#F37260
}

h2{

  font-family: "Arial", Helvetica, sans-serif;
  color: #F37260
}

p{

  font-family: "Comic Sans MS", cursive, sans-serif
  color: #FFFFF0
}
    
body{

  background-image: url("https://i.pinimg.com/736x/9f/2c/9e/9f2c9e4c050b0f1e016b1aa6be509f8a.jpg")
    
}
    
