h1{

  font-family: "Arial", Helvetica, sans-serif;
  color:#F37260
}

h2{

  font-family: "Arial", Helvetica, sans-serif;
  color: #F37260
}

p{

  font-family: "Comic Sans MS", cursive, sans-serif
  color: #FFFFF0
}
    
body{

  background-image: url("https://t00.deviantart.net/XkCmRkaLEBkTc136R15pkIXEp-Q=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre00/30b2/th/pre/f/2016/112/2/7/free_neko_atsume_line_art_by_dragonmurr-d9zuzaa.png")
    
}
    
